POSTGRES_DB=nakama
POSTGRES_USER=nakama
POSTGRES_PASSWORD=change-me

NAKAMA_NAME=lila-nakama
NAKAMA_LOG_LEVEL=INFO
NAKAMA_HTTP_KEY=change-me
NAKAMA_SOCKET_SERVER_KEY=change-me
NAKAMA_SESSION_ENCRYPTION_KEY=change-me
NAKAMA_SESSION_TOKEN_EXPIRY_SEC=900
NAKAMA_REFRESH_ENCRYPTION_KEY=change-me
NAKAMA_REFRESH_TOKEN_EXPIRY_SEC=2592000
NAKAMA_CONSOLE_USERNAME=admin
NAKAMA_CONSOLE_PASSWORD=change-me
